In [41]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv('data.csv')

In [43]:
df.head()

,index,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.01,Ideal,G,VVS2,60.6,57.0,6.54,6.50,3.95,7167
1,1,0.31,Good,F,SI1,63.5,56.0,4.30,4.33,2.74,516
2,2,1.02,Premium,D,SI2,59.5,62.0,6.56,6.52,3.89,4912
3,3,0.27,Ideal,E,VVS2,62.0,55.0,4.12,4.14,2.56,622
4,4,0.70,Very Good,F,VS2,61.7,63.0,5.64,5.61,3.47,2762

In [44]:
df['cut'].unique()

array(['Ideal', 'Good', 'Premium', 'Very Good', 'Fair'], dtype=object)

In [45]:
df['color'].unique()

array(['G', 'F', 'D', 'E', 'I', 'J', 'H'], dtype=object)

In [46]:
df['clarity'].unique()

array(['VVS2', 'SI1', 'SI2', 'VS2', 'VS1', 'IF', 'VVS1', 'I1'],
      dtype=object)

In [47]:
y = df["price"]
X = df.drop(columns=["price"])

In [48]:
from sklearn.preprocessing import LabelEncoder

In [49]:
label_encoder_cut = LabelEncoder()

In [50]:
label_encoder_cut.fit(X["cut"])

LabelEncoder()

In [51]:
X["cut"] = label_encoder_cut.transform(X["cut"])

In [52]:
label_encoder_color = LabelEncoder()

In [53]:
label_encoder_color.fit(X["color"])

LabelEncoder()

In [54]:
X["color"] = label_encoder_color.transform(X["color"])

In [55]:
label_encoder_clarity = LabelEncoder()

In [56]:
label_encoder_clarity.fit(X["clarity"])

LabelEncoder()

In [57]:
X["clarity"] = label_encoder_clarity.transform(X["clarity"])

In [58]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [63]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error as mse
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
lr = make_pipeline(StandardScaler(),LinearRegression())
lr.fit(X_train,y_train)
y_pred_train = lr.predict(X_train)
y_pred_test = lr.predict(X_test)

print("Train:", mse(y_train,y_pred_train, squared=False))
print("Test:", mse(y_test,y_pred_test, squared=False))

Train: 1324.3583503942666
Test: 1406.4143409003213

In [23]:
lr.fit(X,y)

LinearRegression()

In [24]:
predict = pd.read_csv('predict.csv')

In [25]:
predict.head()

   index  carat      cut color clarity  depth  table     x     y     z
0      0   1.57  Premium     F     SI1   60.4   59.0  7.57  7.54  4.56
1      1   1.56    Ideal     G     SI1   61.2   56.0  7.51  7.49  4.59
2      2   0.70  Premium     E     VS1   58.4   59.0  5.91  5.83  3.43
3      3   0.90     Fair     G     SI1   65.4   57.0  6.04  5.95  3.92
4      4   1.22    Ideal     H     VS2   61.4   57.0  6.89  6.85  4.22

In [26]:
label_encoder_cut.fit(predict["cut"])

LabelEncoder()

In [27]:
predict["cut"] = label_encoder_cut.transform(predict["cut"])

In [28]:
label_encoder_color.fit(predict["color"])

LabelEncoder()

In [29]:
predict["color"] = label_encoder_color.transform(predict["color"])

In [30]:
label_encoder_clarity.fit(predict["clarity"])

LabelEncoder()

In [31]:
predict["clarity"] = label_encoder_clarity.transform(predict["clarity"])

In [33]:
y_pred = lr.predict(predict)

In [40]:
df_1 = pd.DataFrame({"index":predict["index"], "price":y_pred})

In [41]:
df_1

       index         price
0          0  10025.330718
1          1   9806.175618
2          2   3540.245328
3          3   3347.512501
4          4   7254.380059
...      ...           ...
16177  16177    892.711585
16178  16178  13526.244309
16179  16179   -100.879369
16180  16180  10994.058359
16181  16181   2839.594495

[16182 rows x 2 columns]

In [42]:
df_1.to_csv('submission_1.csv', index=False)